:root {
  --color-link: #2196f3;
  --color-container: #2f303a;
  --color-team: #f5f4fa;
  --font--primary: "roboto";
  --color-page: #e5e5e5;
  --color-header: #ffffff;
  --font-style: "normal";
  --color-contact: #757575;
  --color-letter-black: #212121;
}

body {
  font-family: "roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: #ffff;
  font-size: 14px;
}
h1,
h2,
h3,
p {
  margin-top: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-bottom: 94px;
  padding-bottom: 94px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--color-letter-black);
  list-style: none;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--color-link);
  cursor: pointer;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav .current.active {
  text-decoration: none;
  font-style: var(--font-style);
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: 0.02em;
  color: var(--color-link);
  margin-right: 50px;
}
.current:active {
  color: var(--color-link);
}
.top-box {
  height: 80px;
  margin-top: 32px;
}
.name-header {
  margin-right: 93px;
}

.list {
  color: #212121;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.Webstudio {
  font-family: "Raleway";
  font-style: var(--font-style);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--color-link);
}
.Estudio {
  font-style: var(--font--primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-right: 50px;
}
.Portafolio {
  font-style: var(--font-style);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-right: 50px;
}
.Contactos {
  font-style: var(--font-style);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-right: 344px;
}
.mail {
  color: var(--color-contact);
  font-style: var(--font-style);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

.phone {
  color: var(--color-contact);
  font-style: var(--font-style);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-right: 219px;
}

.primary-section {
  background-color: var(--color-container);
  text-align: center;
  padding: 200px 0;
}
.primary-title {
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
  display: block;
  max-width: 690px;
  margin-bottom: 30px;
  color: ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-transform: uppercase;
}
.btn {
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--color-letter-black);
  background-color: #f5f4fa;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
}
.principal {
  font-family: "Roboto";
  background-color: var(--color-link);
  color: #ffffff;
  font-style: var(--font-style);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}

.btn:hover {
  color: #ffffff;
  background-color: var(--color-link);
}

.tittle {
  color: var(--color-letter-black);
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.pgh {
  color: var(--color-contact);
  line-height: 1.7;
}

.team {
  background-color: var(--color-team);
}
.valores {
  margin-top: 121px;
}
.li-ate {
  margin-right: 30px;
  text-align: initial;
}
.li-pun {
  margin-right: 30px;
  text-align: initial;
}
.li-plan {
  margin-right: 30px;
  text-align: initial;
  align-items: center;
}
.li-tec {
  text-align: initial;
}
.tittle-section {
  font-style: var(--font-style);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.li-section {
  display: flex;
  grid-auto-flow: grid;

  align-content: center;
}
.li-btn {
  display: flex;
  grid-auto-flow: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
}
.trading {
  margin-right: 30.26px;
}
.design {
  margin-right: 23.42px;
}
.color {
  margin-right: 211.84px;
}
.secundary-team {
  padding-top: 94px;
}
.team-name {
  font-style: var(--font-style);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.pgh-name {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.bottom-box {
  background-color: var(--color-container);
}

.Webname {
  color: var(--color-link);
  font-family: "Raleway";
  font-style: var(--font-style);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.address {
  color: #ffff;
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 0.5;
}
.mail-footer {
  color: rgba(255, 255, 255, 0.6);
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 0.5;
  text-decoration-style: none;
}
.phone-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 0.5;
}
.port {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.port:hover {
  background-color: var(--color-link);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.name-product {
  font-style: var(--font-style);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.phg-producto {
  font-style: var(--font-style);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}
.li-port {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin-top: 50px;
}
.item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.li-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.li-equi {
  gap: 30px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
