:root {
  --color-link: #2196f3;
  --color-container: #2f303a;
  --color-team: #f5f4fa;
  --font--primary: "roboto";
  --color-page: #e5e5e5;
  --color-header: #ffffff;
  --font-style: "normal";
  --color-contact: #757575;
  --color-letter-black: #212121;
}

body {
  font-family: "roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: #ffff;
  font-size: 14px;
}
h1,
h2,
h3 {
  margin-top: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--color-letter-black);
  list-style: none;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--color-link);
  cursor: pointer;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav .current.active {
  text-decoration: none;
  font-style: var(--font-style);
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: 0.02em;
  color: var(--color-link);
}
.current:active {
  color: var(--color-link);
}
.top-box {
  border-bottom: rgba(255, 255, 255, 1);
}
.top-box {
  background-image: url();
}

.list {
  color: #212121;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.Webstudio {
  font-family: "Raleway";
  font-style: var(--font-style);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--color-link);
  padding-top: 25px;
  padding-bottom: 25px;
}
.li-header {
  font-style: var(--font--primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.li-header:not(:last-child) {
  margin-right: 50px;
}

.mail {
  color: var(--color-contact);
  font-style: var(--font-style);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.icon-mail {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--color-contact);
  position: relative;
  top:3px;
}
.icon-mail:hover {
  border-color: #2196f3;
}

.phone {
  color: var(--color-contact);
  font-style: var(--font-style);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
}

.primary-section {
  background-color: var(--color-container);
  text-align: center;
  padding: 200px 0;
  background-image: url(../Images/fondo.jpg);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.primary-title {
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
  display: block;
  max-width: 690px;
  margin-bottom: 30px;
  color: ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-transform: uppercase;
}
.btn {
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--color-letter-black);
  background-color: #f5f4fa;
  font-size: 16px;
  cursor: pointer;
}
.principal {
  font-family: "Roboto";
  background-color: var(--color-link);
  color: #ffffff;
  font-style: var(--font-style);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}

.btn:hover {
  color: #ffffff;
  background-color: var(--color-link);
}

.tittle {
  color: var(--color-letter-black);
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.pgh {
  color: var(--color-contact);
  line-height: 1.7;
}

.team {
  background-color: var(--color-team);
}
.tittle-section {
  font-style: var(--font-style);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.li-section {
  display: flex;
  gap: 25px;
}
.dedi-img {
  flex-basis: calc((100%-60px) / 3);
}

.li-btn {
  display: flex;
  grid-auto-flow: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
}
.team-name {
  font-style: var(--font-style);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.pgh-name {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.bottom-box {
  background-color: var(--color-container);
  display: flex;
}

.Webname {
  color: var(--color-link);
  font-family: "Raleway";
  font-style: var(--font-style);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.address {
  color: #ffff;
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 0.5;
}
.mail-footer {
  color: rgba(255, 255, 255, 0.6);
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 0.5;
  text-decoration-style: none;
}
.phone-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 0.5;
}
.port {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.port:hover {
  background-color: var(--color-link);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.name-product {
  font-style: var(--font-style);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.phg-producto {
  font-style: var(--font-style);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}
.li-port {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin-top: 50px;
}
.item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item {
  flex-basis: calc((100% - 60px) / 3);
}
.li-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.product-desc {
  padding: 20px 24px;
}
.div-team {
  padding: 30px 44px;
}
.icon-valores {
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  padding: 25px 102px;
  margin-bottom: 30px;
}
.icon-footer {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
}
.lis-icon {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}
.icon-foot {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  padding: 12px;
  fill: #ffffff;
}
.icon-foot:hover {
  background-color: var(--color-link);
  fill: #ffffff;
}
.social-icon{
  align-content: center;
  justify-content: center;
  }

.menu-footer {
  display: flex;
  flex-direction: column;
}
.icon-footer {
  margin-left: 50px;
}
.text-footer {
  margin-top: 25px;
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.icon-foot:not(:last-child) {
  margin-right: 10px;
}
.item-clientes {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
}
.icon-item {
  list-style: none;
  border: 1px solid rgba(175, 177, 184, 1);
  padding: 25px 64px;
  border-radius: 4px;
  flex-basis: calc((100%-60px) / 7);
}
.menu-icon {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 0px;
}
.menu-team:hover {
  background-color: var(--color-link);
  color: #ffffff;
  border-radius: 100%;
  }
  .menu-team{
    padding: 12px;
  }
  .icon-team{
    fill: #AFB1B8;
  }
  .icon-team:hover{
    fill: #ffffff;
  }
.icon-mail:hover{
  fill: var(--color-link);
}
.menu-team:hover .icon-team{
  fill: #ffff;
}
.icon-cliente{
  fill: #AFB1B8;
}
.icon-item:hover{
  border-color: var(--color-link);
}
.icon-item:hover .icon-cliente{
  fill: var(--color-link);
}
